.header-wrapper {
  padding: 16px 16px 0px 16px;
}

.logo-button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5%;
  border-radius: 80px;
}
.logo-button-wrapper-dark {
  background-color: black !important;
  color: white !important;
}
.logo-button-wrapper:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.logo-button-wrapper .ant-typography {
  font-weight: 500;
  font-size: larger;
  margin: 0;
}

/* mega menu */
.mega-menu-wrapper {
  padding: 20px 20px;
}
.mega-menu-column {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0px 0px 0px 18px;
  border-right: 1px solid #cdcdcd;
}
.mega-menu-title {
  font-size: 20px !important;
  margin-bottom: 20px !important;
}
.mega-menu-item {
  display: block;
  font-size: 16px !important;
  font-weight: 400;
  margin-bottom: 12px;
}
